*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#fafafa;
  color:#222;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:white;
  position:sticky;
  top:0;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
  z-index:100;
}

.logo{
  font-size:22px;
  font-weight:700;
}

.nav-btn{
  background:#25D366;
  color:white;
  padding:10px 16px;
  border-radius:25px;
  text-decoration:none;
}

/* HERO */
.hero{
  background:linear-gradient(135deg,#000,#444);
  color:white;
  padding:70px 20px;
  text-align:center;
}

.hero h1{
  font-size:32px;
}

.hero p{
  margin:15px 0;
}

.hero-btns{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

.btn{
  background:#25D366;
  color:white;
  padding:12px 22px;
  border-radius:30px;
  text-decoration:none;
}

.btn-outline{
  border:2px solid white;
  color:white;
  padding:12px 22px;
  border-radius:30px;
  text-decoration:none;
}

/* SECTIONS */
section{
  padding:50px 20px;
  max-width:1200px;
  margin:auto;
}

h2{
  text-align:center;
  margin-bottom:25px;
}

/* ABOUT */
.about p{
  text-align:center;
  max-width:800px;
  margin:auto;
  line-height:1.7;
}

/* WHY */
.why-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.why-box{
  background:white;
  padding:20px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* CATEGORIES */
.cat-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:15px;
}

.cat-card{
  background:#fff;
  padding:25px;
  border-radius:15px;
  text-align:center;
  font-weight:600;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* PRODUCTS */
.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.product-card{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.12);
  text-align:center;
}

.img-box{
  height:160px;
  background:#ddd;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:15px;
}

.buy-btn{
  display:inline-block;
  margin-top:10px;
  background:#25D366;
  color:white;
  padding:10px 18px;
  border-radius:25px;
  text-decoration:none;
}

/* CONTACT */
.contact{
  background:#111;
  color:white;
  text-align:center;
}

/* FOOTER */
.footer{
  background:#000;
  color:#aaa;
  text-align:center;
  padding:15px;
}

/* FLOAT WHATSAPP */
.whatsapp-float{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:white;
  padding:14px 18px;
  border-radius:50%;
  text-decoration:none;
  font-weight:bold;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
}
